@import "tailwindcss";


@theme {
  --font-sans: "Open Sans", sans-serif;
  --font-pap: "Paprika", system-ui;
  --font-rob: "Roboto", sans-serif;
  --font-work: "Work Sans", sans-serif;
  --font-nun: "Nunito", sans-serif;

}